<StackLayout style="background-color: #D3D3D3">
    <Button text="Done" (tap)="done()"></Button>
    
    <Label text="Instrument" textWrap="true"></Label>
    <GridLayout style="background-color: white" rows="auto" columns="auto, auto, auto">
        <FlexboxLayout row="0" col="0" alignItems="center" flexDirection="column" (tap)="instrumentTap(0)">
            <Image class="instrument" src="~/assets/instruments/Guitar.png"></Image>
            <Label *ngIf="selected != 0" class="instrument_label" text="Guitar" textWrap="true"></Label>
            <Label *ngIf="selected == 0" class="instrument_label instrument_label_selected" text="Guitar" textWrap="true"></Label>
        </FlexboxLayout>
        <FlexboxLayout row="0" col="1" alignItems="center" flexDirection="column" (tap)="instrumentTap(1)">
            <Image class="instrument" src="~/assets/instruments/Ukulele.png"></Image>
            <Label *ngIf="selected == 1" class="instrument_label instrument_label_selected" text="Ukulele" textWrap="true"></Label>
            <Label *ngIf="selected != 1" class="instrument_label" text="Ukulele" textWrap="true"></Label>
        </FlexboxLayout>
        <FlexboxLayout row="0" col="2" alignItems="center" flexDirection="column" (tap)="instrumentTap(2)">
            <Image class="instrument" src="~/assets/instruments/Bass.png"></Image>
            <Label *ngIf="selected == 2" class="instrument_label instrument_label_selected" text="Bass" textWrap="true"></Label>
            <Label *ngIf="selected != 2" class="instrument_label" text="Bass" textWrap="true"></Label>
        </FlexboxLayout>
    </GridLayout>

    <GridLayout  rows="auto, auto" columns="*, auto">
        <ListPicker row="0" col="0" [items]="ukuleleTunings" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)"
            class="p-15"></ListPicker>

        <FlexboxLayout row="0" col="1" justifyContent="center" flexDirection="column">
            <Switch class="m-15" checked="false" (checkedChange)="loopChecked($event)"></Switch>
            <Label text="Auto Loop" textWrap="true"></Label>
        </FlexboxLayout>
    </GridLayout>
    <Button text="Logout" (tap)="logout()"></Button>
    
</StackLayout>