<StackLayout class="banner_padding">
    <FlexboxLayout justifyContent="space-around">
        <StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 0" orientation="horizontal">
                <Label class="page_title instrument_title" text="Guitar: " textWrap="true"></Label>
                <Label class="page_title" [text]="guitarTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 1" orientation="horizontal">
                <Label class="page_title instrument_title" text="Ukulele: " textWrap="true"></Label>
                <Label class="page_title" [text]="ukuleleTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 2" orientation="horizontal">
                <Label class="page_title instrument_title" text="Bass: " textWrap="true"></Label>
                <Label class="page_title" [text]="bassTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>
            <!-- <Button text="" (tap)="test(true)"></Button>
            <Button text="" (tap)="test(false)"></Button> -->

        </StackLayout>
        <!-- <Image width="20" height="20" src="~/assets/system/gear.png" (tap)="settings()"></Image> -->

    </FlexboxLayout>

    <GridLayout columns="*, auto" rows="*, auto, auto">

        <TabView style="background-color: #D3D3D3" row='0' col="0" [(ngModel)]="tabSelectedIndex" (selectedIndexChange)="tabChange($event)"
            color="orange" selectedColor="green">
            <FlexboxLayout *tabItem="{title: 'Guitar'}" alignItems="center" justifyContent="flex-end" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Guitar.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout *tabItem="{title: 'Ukulele'}" alignItems="center" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Ukulele.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout *tabItem="{title: 'Bass'}" alignItems="center" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Bass.png"></Image>
            </FlexboxLayout>
        </TabView>

        <StackLayout row="1" col="0">
            <FlexboxLayout justifyContent="Center">

                <FlexboxLayout *ngIf="tabSelectedIndex == 0">
                    <FlexboxLayout *ngFor="let note of guitarNotes" justifyContent="space-between">
                        <Button *ngIf="loopSound == false || loopSound == true && activeNote != note" width="50" class="note" [text]="note" (tap)="guitarNoteTap(note)"></Button>

                        <Button *ngIf="loopSound == true && activeNote == note" width="50" class="note_loop" [text]="note" (tap)="guitarNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout *ngIf="tabSelectedIndex == 1">
                    <FlexboxLayout *ngFor="let note of ukuleleNotes" justifyContent="space-between">
                        <Button *ngIf="loopSound == false || loopSound == true && activeNote != note" width="50" class="note" [text]="note" (tap)="ukuleleNoteTap(note)"></Button>

                        <Button *ngIf="loopSound == true && activeNote == note" width="50" class="note_loop" [text]="note" (tap)="ukuleleNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout *ngIf="tabSelectedIndex == 2">
                    <FlexboxLayout *ngFor="let note of bassNotes" justifyContent="space-between">
                        <Button *ngIf="loopSound == false || loopSound == true && activeNote != note" width="50" class="note" [text]="note" (tap)="bassNoteTap(note)"></Button>

                        <Button *ngIf="loopSound == true && activeNote == note" width="50" class="note_loop" [text]="note" (tap)="bassNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>

        <FlexboxLayout row="2" justifyContent="space-around">
            <GridLayout rows="auto, auto, *" columns="auto, *, auto">

                <!-- <DropDown row="0" col="1" class="drop_down" #dd [items]="ukuleleTunings" [(ngModel)]="selectedIndex" (selectedIndexChanged)="onchange($event)"
                    (opened)="onopen()" (closed)="onclose()"></DropDown> -->

                <FlexboxLayout margin="5" row="0" col="2" alignItems="center" justifyContent="center" flexDirection="row">
                    <Label *ngIf="loopSound == false" text="Auto Loop" textWrap="true"></Label>
                    <Label *ngIf="loopSound == true" class="loop_label" font-weight: bold; text="Auto Loop" textWrap="true"></Label>
                    <Switch class="m-15" checked="false" (checkedChange)="loopChecked($event)"></Switch>
                </FlexboxLayout>

            </GridLayout>
        </FlexboxLayout>
    </GridLayout>

</StackLayout>