<StackLayout>
    <FlexboxLayout justifyContent="space-around">
        <StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 0" orientation="horizontal">
                <Label class="page_title instrument_title" text="Guitar: " textWrap="true"></Label>
                <Label class="page_title" [text]="guitarTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 1" orientation="horizontal">
                <Label class="page_title instrument_title" text="Ukulele: " textWrap="true"></Label>
                <Label class="page_title" [text]="ukuleleTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>
            <StackLayout *ngIf="tabSelectedIndex == 2" orientation="horizontal">
                <Label class="page_title instrument_title" text="Bass: " textWrap="true"></Label>
                <Label class="page_title" [text]="bassTuning" textWrap="true"></Label>
                <Label class="page_title" text=" Tuning" textWrap="true"></Label>
            </StackLayout>

        </StackLayout>
        <Image width="20" height="20" src="~/assets/system/gear.png" (tap)="settings()"></Image>

    </FlexboxLayout>

    <GridLayout columns="*, auto" rows="*, auto">

        <TabView style="background-color: #D3D3D3" row='0' col="0" [(ngModel)]="tabSelectedIndex" (selectedIndexChange)="tabChange($event)"
            color="orange" selectedColor="green">
            <FlexboxLayout *tabItem="{title: 'Guitar'}" alignItems="center" justifyContent="flex-end" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Guitar.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout *tabItem="{title: 'Ukulele'}" alignItems="center" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Ukulele.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout *tabItem="{title: 'Bass'}" alignItems="center" flexDirection="column">
                <Image class="instrument" src="~/assets/instruments/Bass.png"></Image>
            </FlexboxLayout>
        </TabView>

        <StackLayout row="1">
            <FlexboxLayout justifyContent="Center">
              
                <FlexboxLayout *ngIf="tabSelectedIndex == 0">
                    <FlexboxLayout *ngFor="let note of guitarNotes" justifyContent="space-between">
                        <Button width="50" class="note" [text]="note" (tap)="guitarNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout *ngIf="tabSelectedIndex == 1">
                    <FlexboxLayout *ngFor="let note of ukuleleNotes" justifyContent="space-between">
                        <Button width="50" class="note" [text]="note" (tap)="ukuleleNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout *ngIf="tabSelectedIndex == 2">
                    <FlexboxLayout *ngFor="let note of bassNotes" justifyContent="space-between">
                        <Button width="50" class="note" [text]="note" (tap)="bassNoteTap(note)"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>


            </FlexboxLayout>
            
            <FlexboxLayout justifyContent="space-around">
                <GridLayout rows="auto, auto, *" columns="auto, *, auto">
                   
                    <DropDown style="margin: 5;" #dd backroundColor="red" [items]="ukuleleTunings" [(ngModel)]="selectedIndex" (selectedIndexChanged)="onchange($event)"
                        (opened)="onopen()" (closed)="onclose()" row="0" colSpan="2"></DropDown>
                        
                    <FlexboxLayout row="0" col="2" justifyContent="center" flexDirection="column">
                        <!-- <Switch class="m-15" checked="false" (checkedChange)="loopChecked($event)"></Switch> -->
                        <Label text="Auto Loop" textWrap="true"></Label>
                    </FlexboxLayout>
                </GridLayout>
                
            </FlexboxLayout>

        </StackLayout>
    
    </GridLayout>

</StackLayout>