.instrument {
    margin: 15;
    /* width: 60%; */
}

.instrument_title {
    font-weight: bold;
}

.page_title {
    margin-top: 7;
    margin-bottom: 7;
    /* font-weight: bold; */
    font-size: 18;
    color: rgb(75, 75, 75);
}

.note {
    margin: 5;
    padding: 10;
    border-radius: 100;
    color: white;
    background-color: lightseagreen;
}