.bg {
    background-image: url("~/assets/system/login_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon {
    margin-top: 20;
    width: 170;
}

.welcome {
    margin-bottom: 10;
    font-weight: bold;
    font-size: 40;
    color: black;
}

.sub_header{
font-size: 18;
color: rgb(54, 54, 54);

}

.input {
    margin-left: 20;
    margin-right: 20;
}

Button {
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 40;
    padding-right: 40;
    font-size: 15;
    font-weight: bold;
    color: white;
}

.start {
    background-color: lightgreen;
}

.sign_in{
    background-color: blue;
}

.sign_up {
    font-weight: bold;
    padding: 15;
    color: black;
}

.start_tuning {
    font-weight: bold;
    font-size: 18;
    background-color: #00FF92;
    color: white;
}

.google_signin {
    font-size: 18;
    background-color: white;
    color: gray;  
}

.facebook_signin {
    font-size: 18;
    background-color: #3B5998;
    color: white;  
}


.card_size {
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 80;
    margin-right: 80;
}